@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
  background-color: rgb(190, 123, 23);
  color: aliceblue;
}

html {
  scroll-behavior: smooth;
}

*{
  font-family: "Poppins";
}

.sedow {
  box-shadow: 1px 4px 29px -6px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 4px 29px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 4px 29px -6px rgba(0, 0, 0, 0.25);
}

.expand-transition {
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.collapsed {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.expanded {
  max-height: 200px;
  opacity: 1;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom-in {
  animation: zoomIn 1s ease-out;
}
